@import 'normalize';

html,body{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.done{
    text-decoration: line-through;
}

.todo-list{
    width: 500px;
    height: 500px;
    border: 1px solid black;
    padding: 10px 20px;
    background-color: rgb(149, 191, 235);
}

.tasks li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

h2 {
    display: flex;
    justify-content: center;
    padding: 10px;
}

button{
    height: 25px;
    border-radius: 10px;
}